*{
animation-name:animation2;
animation-duration:10s;
animation-iteration-count:infinite;
animation-direction:alternate;
animation-timing-function:linear;
display:block;
margin-left:auto;
margin-right:auto;
}
h1{
color:purple;
}
nav{
align-self:center;
display:flex;
}
ul{
list-style:none;
}
li a{
display:block;
color:black;
text-decoration:none;
}
li a:hover{
background-color:purple;
color:white;
}

@keyframes animation{
from{background-color:blue;}
to{background-color:black;}
}

@keyframes animation2{
0%{background-color:cyan; left:0px; top:0px;}
50%{background-color:blue; left:200px; top:200px;}
100%{background-color:white; left:0px; top:0px;}
}